[Unit]
Description=Start-up service for basic Red Pitaya project
After=network-online.target

[Service]
Type=oneshot
User=root
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/opt/redpitaya/sbin:/opt/redpitaya/bin
WorkingDirectory=/root/basic/
ExecStart=/root/basic/startup.sh
RemainAfterExit=yes

[Install]
#WantedBy=network-online.target
WantedBy=multi-user.target
